{#**
* Copyright © Resurs Bank AB. All rights reserved.
* See LICENSE for license details.
*
*#}
<table class="table payment-history">
    <thead>
    <tr>
        <th>{{ 'User'|trans({}, 'Admin.Global') }}</th>
        <th>{{ 'Event'|trans({}, 'Admin.PaymentHistory.Table') }}</th>
        <th>{{ 'State from'|trans({}, 'Admin.PaymentHistory.Table') }}</th>
        <th>{{ 'State to'|trans({}, 'Admin.PaymentHistory.Table') }}</th>
        <th class="long">{{ 'Extra'|trans({}, 'Admin.PaymentHistory.Table') }}</th>
        <th>{{ 'Date'|trans({}, 'Admin.Global') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for paymentHistory in paymentHistories %}
        <tr>
            <td>{{ paymentHistory.user }}</td>
            <td>{{ paymentHistory.event }}</td>
            <td>{{ paymentHistory.stateFrom }}</td>
            <td>{{ paymentHistory.stateTo }}</td>
            <td class="long">{{ paymentHistory.extra|json_encode }}</td>
            <td>{{ paymentHistory.createdAt|date_format_full }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<style>
    .long {
        overflow-x:hidden;
        max-width:400px;
        word-break: break-word;
    }
</style>