{#**
* Copyright © Resurs Bank AB. All rights reserved.
* See LICENSE for license details.
*
*#}
<div class="card mt-2 rb-pi">
    <div class="card-header rb-pi-title">
        <h3 class="card-header-title">
            {{ 'Resurs Bank Payment'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
        </h3>
        <div class="rb-pi-logo">
            <div class="img"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="rb-pi-section">
            <div class="rb-pi-data">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                {{ 'ID'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ id }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Amount'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ totalAmount }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Limit'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ limit }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Status'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {% for s in status %}
                                    {{ s }}{% if loop.last == false %} |{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Frozen'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {% if frozen %}
                                    {{ 'Yes'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                                {% else %}
                                    {{ 'No'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Fraud'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {% if fraud %}
                                    {{ 'Yes'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                                {% else %}
                                    {{ 'No'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Payment Method'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ paymentMethodName }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Name'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ customer.address.fullName }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Address'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {% for row in address %}
                                {{ row }}
                                <br />
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Telephone'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ customer.phone }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'Email'|trans({}, 'Modules.Psrbordermanagement.Paymentinfo') }}
                            </th>
                            <td>
                                {{ customer.email }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
