{#**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 *#}
{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}
{% trans_default_domain "Modules.Resursbank.OrderManagement.Config" %}
{% form_theme form 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr' : {'class': 'form'} }) }}
    <div class="row justify-content-center">
        {% block resursbank_ordermanagement_general_config %}
            <div class="col-xl-10">
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">api</i> {{ 'After Shop'|trans }}
                    </h3>
                    <div class="card-block row">
                        <div class="card-text">
                            {{ form_row(form.general.enabled) }}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">api</i> {{ 'Callbacks'|trans }}
                    </h3>
                    <div class="card-block row">
                        <div class="card-text">
                            <div class="form-group row">
                                <label class="form-control-label">{{ 'Callback Registration'|trans }}</label>
                                <div class="col-sm">
                                {{ form_row(form.callback.update) }}
                                {{ 'By registering callbacks you also approve to enable this part of the module.'|trans }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label">{{ 'Test Callbacks'|trans }}</label>
                                <div class="col-sm">
                                {{ form_row(form.callback.perform_test) }}
                                </div>
                            </div>
                            {{ form_row(form.callback.last_triggered_at) }}
                            {{ form_row(form.callback.last_received_at) }}
                            {% if callbacks is empty %}
                                No registered callbacks found. Update callbacks, if
                                you don\'t get a list of "Registered
                                Callbacks", please verify that the provided
                                username and password are accurate.
                            {% else %}
                                <table style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th style="width: 15%; padding: .75rem 0; text-align: left; border-bottom: 2px solid #dee2e6;">
                                            {{ 'Type'|trans }}
                                        </th>
                                        <th style="width: 85%; padding: .75rem 0; text-align: left; border-bottom: 2px solid #dee2e6;">
                                            {{ 'Callback Url'|trans }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for callback in callbacks %}
                                        <tr>
                                            <td style="padding: .75rem 0; border-bottom: 1px solid #dee2e6;">
                                                {{ callback.eventType }}
                                            </td>
                                            <td style="padding: .75rem 0; text-align: left; border-bottom: 1px solid #dee2e6;">
                                                {{ callback.uriTemplate }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                              <b>{{ properUrlNotice }}</b>
                            {% endif %}
                        </div>
                    </div>
                </div><div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">api</i> {{ 'Order States'|trans }}
                    </h3>
                    <div class="card-block row">
                        <div class="card-text">
                            {{ 'These setting are used to mapp the payment states in Resurs Bank with the order states in PrestaShop'|trans }}
                        </div>
                    </div>
                    <div class="card-block row">
                        <div class="card-text">
                            {{ form_row(form.state_mapping.pending) }}
                            {{ form_row(form.state_mapping.processing) }}
                            {{ form_row(form.state_mapping.annulled) }}
                            {{ form_row(form.state_mapping.completed) }}
                            {{ form_row(form.state_mapping.credited) }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
