/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

@media screen and (min-width: 768px) {
    .psrbsimplified-fetch-address {
        max-width: 300px;
    }
}

.psrbsimplified-fetch-address {
    margin: 20px 0 15px;
}

.psrbsimplified-fetch-address input[type="text"] {
    width: 100%;
}

.psrbsimplified-fetch-address input[type="text"].error {
    border-color: #ed8380;
}

.psrbsimplified-fetch-address button {
    margin: 10px 0 0;
    padding: 7px 15px;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    font-size: .875rem;
    font-weight: 600;
}
.psrbsimplified-fetch-address button:hover {
    background: #006bb4;
}
.psrbsimplified-fetch-address .psrbsimplified-fetch-address-radio-list {
    display: flex;
    margin: 0 0 10px;
}

.psrbsimplified-fetch-address .psrbsimplified-fetch-address-radio-list > label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.psrbsimplified-fetch-address .psrbsimplified-fetch-address-radio-list > label {
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.psrbsimplified-fetch-address .psrbsimplified-fetch-address-radio-list input[type="radio"] {
    margin-right: 8px;
}

.psrbsimplified-fetch-address .psrbsimplified-field-error {
    color: #e02b27;
    margin-top: 10px;
    font-size: .875rem;
}
